<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" integrity="sha384-
		Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Hello, world!</title>
</head>

<body>

	<!-- Jugar con las partes comentadas para los distintos videos de Openwebinars -->
	<!-- <h1>Hola <span th:text="${nombre}">Mundo!</span></h1> -->
	<div class="container">
		<div class="jumbotron">
			<h1>
				Hola <span th:text="${nombre}">mundo</span>
			</h1>
			<h2>Bienvenido al curso de Thymeleaf</h2>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->